.card.form {
	padding: 20px;
}

label {
	font-size: 18px;
}

input {
	font-size: 18px;
	font-weight: 400;
}

.my-btn {
	background-color: #125688;
	width: 100%;
	border: none;
	font-size: 24px;
	color: white;
	margin-top: 10px;
}

.input.boolean {
	margin-left: 18px;
	margin-top: 5px;
}

.input.boolean label {
	margin-top: 5px;
	line-height: 44px
}